body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 7px;
  width: 5%;
  border-color: grey;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
